In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
obj = Series([3,6,9,12])

In [4]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [10]:
ww2_cas = Series([870000, 43000000, 30000000,210000000,40000000],index=['Russia','Germany','China','Japan','USA'])

In [11]:
ww2_cas

Russia        870000
Germany     43000000
China       30000000
Japan      210000000
USA         40000000
dtype: int64

In [14]:
countries = ['Russia','Germany','China','Japan','USA','Argentina']

In [15]:
obj2 = ww2_cas

In [16]:
ww2_cas['USA']

40000000

In [18]:
ww2_cas[ww2_cas > 40000000]

Germany     43000000
Japan      210000000
dtype: int64

In [19]:
'Russia' in ww2_cas

True

In [24]:
ww2_dict = ww2_cas.to_dict()

In [25]:
ww2_dict

{'Russia': 870000,
 'Germany': 43000000,
 'China': 30000000,
 'Japan': 210000000,
 'USA': 40000000}

In [26]:
ww2_series = Series(ww2_dict)

In [27]:
ww2_series

Russia        870000
Germany     43000000
China       30000000
Japan      210000000
USA         40000000
dtype: int64

In [28]:
countries = ['China','Germany','Japan','USA','USSR','Argentina']

In [29]:
obj2 = Series(ww2_dict,index=countries)

In [30]:
obj2

China         30000000.0
Germany       43000000.0
Japan        210000000.0
USA           40000000.0
USSR                 NaN
Argentina            NaN
dtype: float64

In [31]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR          True
Argentina     True
dtype: bool

In [32]:
obj2.index.name = 'Countries'

In [33]:
obj2

Countries
China         30000000.0
Germany       43000000.0
Japan        210000000.0
USA           40000000.0
USSR                 NaN
Argentina            NaN
dtype: float64